.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.row {
    background-color: #f2f2f2;
}

/* Style the table header */
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* Style the product image */
td.image {
    width: 30%; /* Adjust the width as needed */
}
.image-container img{
    padding-left: 200px;
    width: 400px;
    height: auto;
}

/* Style the product details */
td.details {
    width: 70%; /* Adjust the width as needed */
}
.product-info{
    padding-right: 200px;
}
/* Style the links */
.link a {
    text-decoration: none;
    background-color: #333333;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 30px; /* Adjusted to auto width for button text */
    transition: background-color 0.3s;
    text-align: center; /* Center the text within the button */
}

.link a:hover {
    background-color: #c5b32b;
}
/* Style the "Add to Cart" button */
#showFormButton {
    background-color: #333333;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: auto; /* Adjusted to auto width for button text */
    display: block; /* Center the button */
    transition: background-color 0.3s;
    text-align: center; /* Center the text within the button */
}
#showFormButton:hover{
    background-color: #c5b32b;
}

/* Style the "Add to Cart" form */
#addToCartForm {
    width: 400px;
    display: none; /* Initially hide the form */
    position: absolute;
    top: 50%; /* Adjust the top position to center vertically */
    left: 50%; /* Adjust the left position to center horizontally */
    transform: translate(-50%, -50%); /* Center the form relative to its container */
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1;
}

/* Style the form input fields */
#addToCartForm input[type="text"],
#addToCartForm select {
    width: 95%;
    padding: 5px;
    margin: 5px 0;
}

#addToCartForm input[type="submit"] {
    background-color: #333333;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: auto; /* Adjusted to auto width for button text */
    display: block; /* Center the button */
    transition: background-color 0.3s;
    text-align: center; /* Center the text within the button */
}
#addToCartForm input[type="submit"]:hover{
    background-color: #c5b32b;
}
/* Add styles for the "Back" button */
#back {
    margin-top: 5px;
    background-color: #333333;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: auto; /* Adjusted to auto width for button text */
    display: block; /* Center the button */
    transition: background-color 0.3s;
    text-align: center; /* Center the text within the button */
}

#back:hover {
    background-color: #c5b32b;
}
/* Style the "Back" button */
#hideFormButton {
    margin-top: 5px;
    background-color: #333333;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: auto; /* Adjusted to auto width for button text */
    display: block; /* Center the button */
    transition: background-color 0.3s;
    text-align: center; /* Center the text within the button */
}

#hideFormButton:hover {
    background-color: #c5b32b;
}

